/*QUANTITY*/

.quantity__wrapper {
  margin-top: 10px;
  margin-left: -5px;
  width: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quantity__text {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: $bluesh-grey;
}

.quantity__button {
  width: 28px;
  height: 28px;
  background-color: white;
  border: none;
}

.quantity__button:hover {
  width: 28px;
  height: 28px;
  border: 1px solid $light-grey;
  border-radius: 50%;
}

.cost__main {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: $sandy;
}
.cost__sub {
  font-size: 30px;
  font-weight: 500;
  color: $bluesh-grey;
}

@media (min-width: $tablet) {
  .quantity__wrapper {
    margin-top: 12px;
  }
  .cost .title__main {
    margin-bottom: 5px;
  }
}

/*Detail*/

.detail__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $violet;
}
.detail__character {
  font-family: "Rajdhani";
  font-size: 16px;
  font-weight: 500;
  color: $bluesh-grey;
}

@media (max-width: $mobile-width-only) {
  .details {
    margin-top: 28px;
  }
  .detail__text {
    margin-top: 5px;
  }
  .detail__character {
    margin-top: 9px;
  }
}

@media (min-width: $tablet) {
  .details {
    margin-top: 19px;
  }
  .detail__text {
    margin-top: 7px;
    padding-right: 10px;
  }
  .detail__character {
    margin-top: 9px;
  }
}

/*LIST DELIVERY / RETURN*/
/*LIST*/

.list {
  margin-top: 18px;
  padding-bottom: 6px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  color: $violet;
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list__details {
  width: 100%;
}

.list__details summary {
  cursor: pointer;
  list-style: none;
}

summary {
  position: relative;
}

summary:after {
  position: absolute;
  content: "+";
  right: 0;
}
details[open] summary ~ * {
  animation: sweep 1s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

details[open] summary:after {
  content: "-";
}

.list__title {
  margin: 0;
}

.list__text {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $bluesh-grey;
}

@media (max-width: $mobile-width-only) {
  .wrapper__list {
    margin-top: 40px;
  }
}

@media (min-width: $tablet) {
  .wrapper__list {
    margin-top: 40px;
  }
}
@media (min-width: $desktop) {
  .details {
    margin-top: 24px;
  }
  .detail__text {
    margin-top: 7px;
    padding-right: 0px;
    width: 600px;
  }
  .wrapper__list {
    margin-top: 32px;
  }
}
