/*QUANTITY*/

.quantity__wrapper {
  margin-top: 10px;
  margin-left: -5px;
  width: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quantity__text {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: $bluesh-grey;
}

.quantity__button {
  width: 28px;
  height: 28px;
  background-color: white;
  border: none;
}

.quantity__button:hover {
  width: 28px;
  height: 28px;
  border: 1px solid $light-grey;
  border-radius: 50%;
}

@media (min-width: 688px) {
  .quantity__wrapper {
    margin-top: 20px;
  }
}
/*COST*/

.filter-select__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.filter-price__container {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  gap: 69px;
}
.cost__main {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: $sandy;
}
.cost__sub {
  font-size: 30px;
  font-weight: 500;
  color: $bluesh-grey;
}
/*Detail*/

.details {
  margin-top: 53px;
}

.detail__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $violet;
}
.detail__character {
  font-family: "Rajdhani";
  font-size: 16px;
  font-weight: 500;
  color: $bluesh-grey;
}

@media (max-width: $mobile-width-only) {
  .detail__text {
    margin-top: 5px;
  }
  .detail__character {
    margin-top: 9px;
  }
}
