.select {
  margin-top: 27px;
}
.select__fieldset {
  border: none;
  padding: 0;
}
.fieldset__list-colour,
.fieldset__list-size {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

@media (max-width: $mobile-width-only) {
  .select {
    margin-top: 34px;
  }
}
@media (min-width: $tablet) {
  .select {
    margin-top: 31px;
  }
}

/*PRODUCT CHECKED*/
.filter-option label,
.fieldset__content--subscribe {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.list__colour,
.list__size {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__colour {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
.filter-select__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.filter-price__container {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  gap: 69px;
}

@media (min-width: $tablet) {
  .filter-select__container {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  .fieldset__list-colour {
    margin: 12px 0 0 4px;
    gap: 12px;
  }
  .filter-price__container {
    margin-top: 40px;
    gap: 136px;
  }
}
@media (min-width: $desktop) {
  .filter-price__container {
    margin-top: 37px;
    gap: 78px;
  }
}

@media (max-width: $mobile-width-only) {
  .fieldset__list-colour {
    margin: 13px 0 0 5px;
  }
  .select--size {
    margin-top: 3px;
  }
}

/*FILTER COLOUR */

.filter-input-radio--colour + label:hover:after {
  content: "";
  position: absolute;
  border: 1px solid $bluesh-grey;
  border-radius: 50%;
  transition: 0.4s;
}

.filter-input-radio--colour:checked + label::after {
  content: "";
  position: absolute;
  border: 1px solid $violet;
  border-radius: 50%;
}

.colour--violet {
  content: "";
  background-color: $violet;
  border-radius: 50%;
}
.colour--grey {
  content: "";
  background-color: $bluesh-grey;
  border-radius: 50%;
}
.colour--blue {
  content: "";
  background-color: $blue;
  border-radius: 50%;
}

@media (max-width: calc($desktop - 1px)) {
  .filter-input-radio--colour + label:hover:after {
    content: "";
    top: -4px;
    left: -4px;
    width: 48px;
    height: 48px;
  }
  .label__colour {
    width: 40px;
    height: 40px;
  }
  .filter-input-radio--colour:checked + label::after {
    top: -4px;
    left: -4px;
    width: 48px;
    height: 48px;
  }
}
@media (min-width: $desktop) {
  .filter-input-radio--colour + label:hover:after {
    content: "";
    top: -3px;
    left: -3px;
    width: 32px;
    height: 32px;
  }

  .filter-input-radio--colour:checked + label::after {
    content: "";
    top: -3px;
    left: -3px;
    width: 32px;
    height: 32px;
  }

  .label__colour {
    width: 26px;
    height: 26px;
  }
}

/*FILTER SIZE*/
.filter-input-radio--size + label:hover:after {
  content: "";
  position: absolute;
  border: 1px solid $bluesh-grey;
  border-radius: 50%;
  transition: 0.4s;
}

.filter-input-radio--size:checked + label::after {
  content: "";
  position: absolute;
  border: 1px solid $violet;
  border-radius: 50%;
  transition: 0.5s;
}
.filter-input-radio--size:checked + .label__size {
  color: $violet;
  transition: 0.5s;
}

.label__size {
  text-align: center;
  padding-top: 30%;
  color: grey;
  border-radius: 50%;
}

@media (max-width: $mobile-width-only) {
  .fieldset__list-size {
    margin: -2px 0px 0 -13px;
    gap: 4px;
  }
}

@media (max-width: calc($desktop - 1px)) {
  .filter-input-radio--size + label:hover:after {
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
  }
  .filter-input-radio--size:checked + label::after {
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
  }
  .filter-input-radio--size:checked + .label__size {
    font-size: 28px;
  }

  .label__size {
    width: 48px;
    height: 48px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop) {
  .filter-input-radio--size + label:hover:after {
    content: "";
    top: -2px;
    left: 0;
    width: 32px;
    height: 32px;
  }
  .label__size {
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
  }
  .filter-input-radio--size:checked + .label__size {
    font-size: 20px;
  }
}
