.slider__logo {
  position: absolute;
  left: 16px;
  top: 24px;
}
.slider__logo img {
  width: 65px;
  height: 36px;
  object-fit: cover;
}
.slider {
  position: relative;
  min-height: 600px;
  background-repeat: no-repeat;
  min-width: 320px;
  width: 100%;
  background-size: cover;
  transition: all 0.5s ease-in-out;
}
.slider {
  background-image: url(../img/gussi_slider_desktop_1.png);
}

.slider__nav {
  position: absolute;
  bottom: 31px;
  left: 212px;
}
.nav__button-wrapper {
  bottom: 28px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 45px;
  width: 93px;
}

.slider__text {
  position: absolute;
  bottom: 95px;
  left: 52px;
}

.slider {
  background-color: linear-gradient(
    rgba(255, 255, 255, 0.22) rgba(53, 41, 37, 0.5)
  );
}

.slider__prev,
.slider__next {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  padding: 8px 5px 5px 5px;
}

.slider__prev:hover,
.slider__next:hover {
  width: 40px;
  height: 40px;
  border: 1px solid $white;
  border-radius: 50%;
}

.slider__icon {
  fill: white;
}

.slider__prev:active,
.slider__next:active {
  width: 40px;
  height: 40px;
  background-color: $white;
}
.slider__prev:active .slider__icon,
.slider__next:active .slider__icon {
  fill: $bluesh-grey;
}

.slider__title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  color: $white;
  margin-top: 0;
}
.slider__subtitile {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $white;
}

.slider__counter {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: $white;
}
.slider__counter .counter-last {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: $mobile-width-only) {
  .slider__text {
    bottom: 90px;
    left: 16px;
  }
  .nav__button-wrapper {
    bottom: 23px;
    left: 10px;
  }
  .slider__nav {
    bottom: 26px;
    left: 176px;
  }
}

@media (min-width: $tablet) {
  .slider__text {
    bottom: 83px;
    left: 16px;
  }
  .nav__button-wrapper {
    bottom: 23px;
    left: 10px;
  }
  .slider__nav {
    bottom: 26px;
    left: 176px;
  }
  .slider__title {
    font-size: 64px;
    line-height: 64px;
  }
  .slider__subtitile {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: $desktop) {
  .slider__text {
    bottom: 96px;
    left: 52px;
  }
  .nav__button-wrapper {
    position: fixed;
    bottom: 27px;
    left: 45px;
  }
  .slider {
    height: 100%;
  }
  .slider__logo {
    left: 52px;
    top: 32px;
  }
  .slider__logo img {
    width: 95px;
    height: 53px;
  }

  .slider__title {
    font-size: 72px;
    line-height: 72px;
  }
  .slider__subtitile {
    font-size: 28px;
  }
  .slider__nav {
    bottom: 31px;
    left: 211px;
  }
}
