// color

$white: #ffffff;
$violet: #192b3f;
$violet-hover: #2e4055;
$violet-active: #3b536d;
$bluesh-grey: #8a94a6;
$light-grey: #e1e6ed;
$blue: #3d5876;
$sandy: #c9b8a8;

//view

$mobile-width-only: 687px;
$tablet: 688px;
$desktop: 1360px;
