@import "./global.scss";
@import "./block/button.scss";
@import "./block/slider.scss";
@import "./block/content.scss";
@import "./block/about.scss";
@import "./block/select.scss";
@import "./block//details.scss";
@import "./block/collection.scss";
@import "./block/feedback.scss";

@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani-webfont.woff2") format("woff2"),
    url("../fonts/rajdhani-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Rajdhani";
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "slider"
    "content";
}

.wrapper-slider {
  position: relative;
  grid-area: slider;
}
.wrapper-content {
  grid-area: content;
}

@media (min-width: $desktop) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "slider content";
  }
  .wrapper-slider {
    position: fixed;
    width: 44%;
    height: 100%;
  }
}
